.main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    color: #fff;
}

.header {
    width: 100%;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

img {
    display: block;
    width: 100%;
}

.container{
    display: flex;
    gap: 2rem;
}

.mainSection {
    position: relative;
    width: 520px;
}

.background {
    display: block;
}

.neck,
.nose,
.accessories,
.mouth,
.leg,
.hair,
.ears,
.eyes {
    position: absolute;
    top: 0;
    left: 0;
  }
  
/* all buttons */
.buttonSection{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn{
    padding: 6px 12px;
    border-radius: 2rem;
    letter-spacing: 1px;
    border: none;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;

}


.btn:hover,.active{
    background-color: #fff;
    border-color: #fff;
    color: black;
}

.download{
    text-align: center;
    margin-top: 1rem;
    max-width: 520px;
}

.downloadBtn{
    font-family: "Alfa Slab One",cursive;
    background-color: #fff;
    font-size: 1.2rem;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 40px;
    cursor: pointer;
}

.title{
    font-size: 1.65rem;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: capitalize;
}

.buttons{
    margin-top: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.nameTag{
    font-size: 1.5rem;
    color: antiquewhite;
}

@media screen and (max-width:1248px){
    .container{
        flex-direction: column;
    }
}

@media screen and (max-width:678px){
    .header{
        font-size: 1.5rem;
    }
    .mainSection{
        width: auto;
    }
    .downloadBtn{
        padding: 10px 20px;
        font-size: small;
        letter-spacing: 2px;
    }
}
